<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="kstools_todo_controller_adminhtml_task_save">
        <observer name="flush_all_pagecache" instance="Kstools\Todo\Observer\FlushCache" />
    </event>
    <event name="kstools_todo_controller_adminhtml_task_inlineedit">
        <observer name="flush_all_pagecache2" instance="Kstools\Todo\Observer\FlushCache" />
    </event>
</config>